@import '../styles/colors';

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.65);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-container {
    background-color: #ffffff;
    min-height: 60%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-container {
    width: calc(100% - 20px);
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    i {
        cursor: pointer;
    }
}

$image-width: 800px;

.image-container {
    width: $image-width;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.selected-picture-shown {
    max-width: $image-width;
    border: 4px solid $primary;
    cursor: pointer;
}

.selected-picture-hidden {
    max-width: $image-width;
    height: 0;
    border: 0;
}