<div class="modal-overlay">
    <div class="modal-container">
        <div class="close-container"><i (click)="this.loremPicsum.closeModal()" class="fas fa-times"></i></div>
        <div class="image-container">
            <img 
                class="{{imageLoaded$ | async}}" 
                src="{{imageUrl$ | async}}" 
                (loaded)="this.pictureService.setPictureLoaded()">
            <i class="fas fa-circle-notch fa-spin fa-7x" *ngIf="imageLoading$ | async"></i>
        </div>
    </div>
</div>
